@import "tailwindcss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
#root,
#root > * {
	min-height: 100dvh;
}

body {
	margin: 0;
	font-size: 14px;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.ant-table-body {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Global styling for WebKit browsers */
::-webkit-scrollbar {
	width: 6px; /* Width of the vertical scrollbar */
	height: 6px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
	background: #f1f1f1; /* Background of the scrollbar track */
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color on hover */
}
